/* Light theme color variables only */

:root {
  --color-bg: #fbf1c7;
  --color-bg-rgb: 251, 241, 199;
  --color-text: #282828;
  --color-nav-text: #3c3836;
  --color-accent: #504945;
  
  --color-primary: #504945;
  --color-primary-rgb: 80, 73, 69;
  --color-primary-dark: #3c3836;
  --color-primary-darker: #282828;
  --color-primary-light: #665c54;
  --color-primary-lighter: #7c6f64;
  --color-highlight-bg: rgb(214, 57, 91);
  --color-highlight-border: pink;

  --color-text-light: #665c54;
  
  --color-border: rgba(60, 56, 54, 0.2);
  
  --color-button-bg: var(--color-primary-dark);
  --color-button-text: var(--color-bg);
  --color-button-hover: var(--color-primary-darker);
  
  --shadow-small: 0 2px 4px rgba(0, 0, 0, 0.1);
  --shadow-medium: 0 4px 8px rgba(0, 0, 0, 0.1);

}